<a href="https://colab.research.google.com/github/sfwtopoulos/stocks/blob/master/Stocks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#!git init
#!git config --global user.email "sfwtopoulos@gmail.com"
#!git config --global user.name "sfwtopoulos"
#!git add -A
#!git commit -m "YO"
#!git remote rm origin
#!git remote add origin https://sfwtopoulos:%21%3D%25%28wy%27%22E3%2BE4WJK8%3C%25Sgithub@github.com/sfwtopoulos/stocks.git
#!git clone https://github.com/sfwtopoulos/stocks
#!git pull

Initialized empty Git repository in /content/.git/

In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import pandas as pd
import math
import warnings
import numpy as np
import time
import pandas_datareader as pdr

#from keras.preprocessing.sequence import pad_sequences

# specify to ignore warning messages
#warnings.filterwarnings("ignore")

In [4]:
import keras
from keras.layers import LSTM
from keras.models import Sequential
from keras.layers.wrappers import TimeDistributed
from keras.layers.core import Dense, Activation, Dropout

Using TensorFlow backend.

In [0]:
from sklearn.preprocessing import MinMaxScaler
import seaborn as sns
import matplotlib.pyplot as plt
#not all needed

In [0]:
#Data import from git repo
url = 'https://raw.githubusercontent.com/sfwtopoulos/stocks/master/stocks_dataset/combined.csv'
#df1 = pd.read_csv(url, error_bad_lines=False)
dfstocks = pd.read_csv(url, sep=',')

In [7]:
for col in dfstocks.columns: 
    print(col)

Date
 Close/Last
 Volume
 Open
 High
 Low
 AAPL

In [8]:
#fix column names
dfstocks=dfstocks.rename({' AAPL':'Company', ' Close/Last':'Close', ' Volume':'Volume', ' Open':'Open', ' High':'High', ' Low':'Low'}, axis=1);
for col in dfstocks.columns: 
    print(col)

Date
Close
Volume
Open
High
Low
Company

In [0]:
#drop $sign from values
dfstocks.Close=dfstocks['Close'].astype(str)
dfstocks.Close=dfstocks.Close.apply(lambda x: x.replace('$',''))
dfstocks.Open=dfstocks['Open'].astype(str)
dfstocks.Open=dfstocks.Open.apply(lambda x: x.replace('$',''))
dfstocks.High=dfstocks['High'].astype(str)
dfstocks.High=dfstocks.High.apply(lambda x: x.replace('$',''))
dfstocks.Low=dfstocks['Low'].astype(str)
dfstocks.Low=dfstocks.Low.apply(lambda x: x.replace('$',''))

In [10]:
#drop rows containing nan or header from the csv files
dfstocks=dfstocks[~dfstocks.Low.str.contains("nan")]
dfstocks=dfstocks[~dfstocks.Low.str.contains("Low")]
dfstocks.reset_index(drop=True, inplace=True)
dfstocks.Date.count()

229286

In [0]:
#sort dataframe based on date and Company Name
  dfstocks = dfstocks.sort_values(['Date', 'Company'])

In [12]:
dfstocks.head(100)

             Date     Close      Volume      Open      High        Low Company
1761   01/02/2013   78.4328   139906732   79.1171   79.2857    77.3757    AAPL
4248   01/02/2013     35.12    13767660     34.92      35.4       34.1    ABBV
6025   01/02/2013     32.05    20266410      32.3     32.45      31.64     ABT
8512   01/02/2013     69.06     4039095     67.59     69.06      67.55     ACN
10999  01/02/2013     38.34     6483720     37.92     38.73      37.92    ADBE
...           ...       ...         ...       ...       ...        ...     ...
10747  01/02/2014     59.29     2745895     59.06     59.53      58.94    ADBE
13234  01/02/2014    168.05     1268722    167.33    170.71   166.5937     AGN
15721  01/02/2014     50.71     9196092     50.81      51.3      50.47     AIG
18208  01/02/2014     53.55     1909106     54.09     54.45       53.5     ALL
20695  01/02/2014   115.795     2528751    114.36    116.19     114.06    AMGN

[100 rows x 7 columns]

In [13]:
dfstocks_split = dfstocks.sample(frac=0.9999,random_state=200)
second_split=dfstocks.drop(dfstocks_split.index)
second_split

              Date      Close     Volume  ...       High        Low Company
173214  01/05/2011    94.1728    3597597  ...    94.7261    92.5616     OXY
95258   01/15/2015    23.5037   31431330  ...    23.8925    23.4838      GE
219831  01/16/2018     133.97    5170230  ...     137.73     133.87     UTX
38340   01/25/2013     718.82    1570859  ...     719.37     681.05    BKNG
183867  02/05/2018     74.705   18709640  ...      78.98      74.68    PYPL
124920  02/26/2015      42.46   14344290  ...      42.55      41.97      KO
16396   04/27/2011       31.7    5420339  ...      32.01      31.28     AIG
1423    05/07/2014    84.6185   70532231  ...    85.3271    83.9614    AAPL
101334  06/07/2016     731.09    1214733  ...     736.71      730.8   GOOGL
175836  06/24/2010       62.4    6184699  ...      62.99      62.25     PEP
174572  07/02/2015      94.66    3209616  ...      94.98      94.21     PEP
6149    07/03/2012     32.415    3199586  ...       32.5     32.195     ABT
61364   07/08/2010     40.244    8716726  ...     40.728    39.7834     COP
201527  09/16/2011      28.94   34249290  ...      28.94      28.54       T
3556    10/01/2015      55.13    9247009  ...      55.23      53.93    ABBV
110942  10/11/2017     147.62    3701258  ...     148.47     147.28     IBM
179223  10/12/2016      88.57   17093450  ...      89.01      88.33      PG
222866  11/10/2015      83.53    4302471  ...      84.79      83.26     WBA
98790   11/18/2010     18.975   15700010  ...       19.2      18.87    GILD
1285    11/20/2014     116.31   43148650  ...     116.86     114.85    AAPL
32900   12/01/2014   288.8073    1146082  ...   290.7124   286.6256    BIIB
151564  12/22/2017      56.36   11345730  ...      56.83      56.13     MRK
43582   12/29/2011      35.27    6422866  ...       35.3      34.95     BMY

[23 rows x 7 columns]

In [18]:
second_split.shape[0]

23

In [0]:
#Prepare Data
def get_reg_train_test(timeseries,sequence_length):
    # # smoothen out series
    # if roll_mean_window:
    #     timeseries = timeseries.rolling(roll_mean_window).mean().dropna()

    # create windows
    result = []
    for index in range(len(timeseries) - sequence_length):
        result.append(timeseries[index: index + sequence_length])

    # normalize data as a variation of 0th index
    # if normalize:
    #     normalised_data = []
    #     for window in result:
    #         normalised_window = [((float(p) / float(window[0])) - 1) \
    #                                for p in window]
    #         normalised_data.append(normalised_window)
    #     result = normalised_data

    # identify train-test splits
    # convert to arry
    result = np.array(result)
    #round up 90% of rows
    train_size = 0.9
    row = round(train_size * result.shape[0])

    # split train and test sets 90-10
    train = result[:int(row), :]
    test = result[int(row):, :]

    # scale data in 0-1 range
    # scaler = None
    # if scale:
    #     scaler=MinMaxScaler(feature_range=(0, 1))
    #     train = scaler.fit_transform(train)
    #     test = scaler.transform(test)

    # split independent and dependent variables
    x_train = train[:, :-1]
    y_train = train[:, -1]


    x_test = test[:, :-1]
    y_test = test[:, -1]

    # Transforms for LSTM input
    x_train = np.reshape(x_train, (x_train.shape[0],
                                   x_train.shape[1],
                                   1))
    x_test = np.reshape(x_test, (x_test.shape[0],
                                 x_test.shape[1],
                                 1))

    return x_train,y_train,x_test,y_test

In [0]:
x_train,y_train,x_test,y_test = get_reg_train_test(second_split.Close, sequence_length=7)

In [38]:
#print(y_train)
print(x_train)

[[[' 94.1728']
  [' 23.5037']
  [' 133.97']
  [' 718.82']
  [' 74.705']
  [' 42.46']]

 [[' 23.5037']
  [' 133.97']
  [' 718.82']
  [' 74.705']
  [' 42.46']
  [' 31.7']]

 [[' 133.97']
  [' 718.82']
  [' 74.705']
  [' 42.46']
  [' 31.7']
  [' 84.6185']]

 [[' 718.82']
  [' 74.705']
  [' 42.46']
  [' 31.7']
  [' 84.6185']
  [' 731.09']]

 [[' 74.705']
  [' 42.46']
  [' 31.7']
  [' 84.6185']
  [' 731.09']
  [' 62.4']]

 [[' 42.46']
  [' 31.7']
  [' 84.6185']
  [' 731.09']
  [' 62.4']
  [' 94.66']]

 [[' 31.7']
  [' 84.6185']
  [' 731.09']
  [' 62.4']
  [' 94.66']
  [' 32.415']]

 [[' 84.6185']
  [' 731.09']
  [' 62.4']
  [' 94.66']
  [' 32.415']
  [' 40.244']]

 [[' 731.09']
  [' 62.4']
  [' 94.66']
  [' 32.415']
  [' 40.244']
  [' 28.94']]

 [[' 62.4']
  [' 94.66']
  [' 32.415']
  [' 40.244']
  [' 28.94']
  [' 55.13']]

 [[' 94.66']
  [' 32.415']
  [' 40.244']
  [' 28.94']
  [' 55.13']
  [' 147.62']]

 [[' 32.415']
  [' 40.244']
  [' 28.94']
  [' 55.13']
  [' 147.62']
  [' 88.57']]

 [[' 40.244']
  [' 28.94']
  [' 55.13']
  [' 147.62']
  [' 88.57']
  [' 83.53']]

 [[' 28.94']
  [' 55.13']
  [' 147.62']
  [' 88.57']
  [' 83.53']
  [' 18.975']]]

In [0]:
def get_reg_model(layer_units=[100,100],dropouts=[0.2,0.2],window_size=50):
    # build LSTM network
    model = Sequential()

    # hidden layer 1
    model.add(LSTM(layer_units[0],
                   input_shape=(window_size,1),
                   return_sequences=True))
    model.add(Dropout(dropouts[0]))

    # hidden layer 2
    model.add(LSTM(layer_units[1]))
    model.add(Dropout(dropouts[1]))

    # output layer
    model.add(Dense(1))
    model.add(Activation("linear"))

    start = time.time()
    model.compile(loss="mse", optimizer="rmsprop")
    print("> Compilation Time : ", time.time() - start)
    print(model.summary())
    return model

In [0]:
#Set Parameters
WINDOW=6
PRED_LENGTH = int(WINDOW/2)

In [42]:
 lstm_model=None
 try:
   lstm_model = get_reg_model(layer_units=[50,100],
                               window_size=WINDOW)
 except:
   print("Model Build Failed. Trying Again")
   lstm_model = get_reg_model(layer_units=[50,100],
                               window_size=WINDOW)

> Compilation Time :  0.015786170959472656
Model: "sequential_8"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_15 (LSTM)               (None, 6, 50)             10400
_________________________________________________________________
dropout_15 (Dropout)         (None, 6, 50)             0
_________________________________________________________________
lstm_16 (LSTM)               (None, 100)               60400
_________________________________________________________________
dropout_16 (Dropout)         (None, 100)               0
_________________________________________________________________
dense_8 (Dense)              (None, 1)                 101
_________________________________________________________________
activation_8 (Activation)    (None, 1)                 0
=================================================================
Total params: 70,901
Trainable params: 70,901
Non-trainable params: 0
_________________________________________________________________
None

In [43]:
   # use eatrly stopping to avoid overfitting
    callbacks = [keras.callbacks.EarlyStopping(monitor='val_loss',
                                               patience=2,
                                               verbose=0)]
    lstm_model.fit(x_train, y_train,
                   epochs=20, batch_size=16,
                   verbose=1,validation_split=0.05,
                   callbacks=callbacks)
    print("Model Fit Complete")

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/math_grad.py:1424: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1020: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3005: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

Train on 13 samples, validate on 1 samples
Epoch 1/20
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:190: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:197: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:207: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:216: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:223: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

13/13 [==============================] - 11s 849ms/step - loss: 46185.3750 - val_loss: 13482.5938
Epoch 2/20
13/13 [==============================] - 0s 2ms/step - loss: 46031.0469 - val_loss: 13350.4170
Epoch 3/20
13/13 [==============================] - 0s 3ms/step - loss: 45895.9453 - val_loss: 13206.3555
Epoch 4/20
13/13 [==============================] - 0s 2ms/step - loss: 45769.7422 - val_loss: 13040.9004
Epoch 5/20
13/13 [==============================] - 0s 2ms/step - loss: 45599.1250 - val_loss: 12842.3643
Epoch 6/20
13/13 [==============================] - 0s 2ms/step - loss: 45427.7656 - val_loss: 12620.7910
Epoch 7/20
13/13 [==============================] - 0s 2ms/step - loss: 45214.3164 - val_loss: 12383.6221
Epoch 8/20
13/13 [==============================] - 0s 2ms/step - loss: 44977.4609 - val_loss: 12142.3408
Epoch 9/20
13/13 [==============================] - 0s 2ms/step - loss: 44802.3711 - val_loss: 11916.2598
Epoch 10/20
13/13 [==============================] - 0s 2ms/step - loss: 44589.1211 - val_loss: 11694.0684
Epoch 11/20
13/13 [==============================] - 0s 2ms/step - loss: 44211.3789 - val_loss: 11467.4160
Epoch 12/20
13/13 [==============================] - 0s 2ms/step - loss: 44146.0703 - val_loss: 11273.2871
Epoch 13/20
13/13 [==============================] - 0s 2ms/step - loss: 43766.4414 - val_loss: 11107.1084
Epoch 14/20
13/13 [==============================] - 0s 3ms/step - loss: 43710.4297 - val_loss: 10973.2510
Epoch 15/20
13/13 [==============================] - 0s 3ms/step - loss: 43617.3047 - val_loss: 10875.4863
Epoch 16/20
13/13 [==============================] - 0s 3ms/step - loss: 43502.7500 - val_loss: 10792.5830
Epoch 17/20
13/13 [==============================] - 0s 2ms/step - loss: 43408.1406 - val_loss: 10719.5938
Epoch 18/20
13/13 [==============================] - 0s 2ms/step - loss: 43228.6914 - val_loss: 10655.1387
Epoch 19/20
13/13 [==============================] - 0s 2ms/step - loss: 43317.1328 - val_loss: 10604.4004
Epoch 20/20
13/13 [==============================] - 0s 2ms/step - loss: 43137.8281 - val_loss: 10558.2900
Model Fit Complete