<a href="https://colab.research.google.com/github/sfwtopoulos/stocks/blob/master/Stocks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#!git init
#!git config --global user.email "sfwtopoulos@gmail.com"
#!git config --global user.name "sfwtopoulos"
#!git add -A
#!git commit -m "YO"
#!git remote rm origin
#!git remote add origin https://sfwtopoulos:%21%3D%25%28wy%27%22E3%2BE4WJK8%3C%25Sgithub@github.com/sfwtopoulos/stocks.git
#!git clone https://github.com/sfwtopoulos/stocks
#!git pull

Initialized empty Git repository in /content/.git/

In [0]:
import pandas as pd

In [0]:
url = 'https://raw.githubusercontent.com/sfwtopoulos/stocks/master/stocks_dataset/combined.csv'
#df1 = pd.read_csv(url, error_bad_lines=False)
df1 = pd.read_csv(url)

In [35]:
df1.tail()

              Date  Close/Last     Volume     Open     High      Low  AAPL
229381  02/22/2010       $65.4   20454080    $66.1   $66.12   $65.25   XOM
229382  02/19/2010      $65.87   24264350   $65.59   $66.24   $65.43   XOM
229383  02/18/2010      $65.96   22534130    $65.8   $66.09   $65.35   XOM
229384  02/17/2010      $65.76   21802100   $66.34   $66.45   $65.57   XOM
229385  02/16/2010      $66.28   30506290   $65.44   $66.38   $65.08   XOM