<a href="https://colab.research.google.com/github/sfwtopoulos/stocks/blob/master/Stocks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#!git init
#!git config --global user.email "sfwtopoulos@gmail.com"
#!git config --global user.name "sfwtopoulos"
#!git add -A
#!git commit -m "YO"
#!git remote rm origin
#!git remote add origin https://sfwtopoulos:%21%3D%25%28wy%27%22E3%2BE4WJK8%3C%25Sgithub@github.com/sfwtopoulos/stocks.git
#!git clone https://github.com/sfwtopoulos/stocks
#!git pull

Initialized empty Git repository in /content/.git/

In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import pandas as pd
import math
import warnings
import numpy as np
from keras.preprocessing.sequence import pad_sequences

# specify to ignore warning messages
#warnings.filterwarnings("ignore")

In [0]:
#Data import from git repo
url = 'https://raw.githubusercontent.com/sfwtopoulos/stocks/master/stocks_dataset/combined.csv'
#df1 = pd.read_csv(url, error_bad_lines=False)
dfstocks = pd.read_csv(url, sep=',')

In [0]:
for col in dfstocks.columns: 
    print(col)

Date
 Close/Last
 Volume
 Open
 High
 Low
 AAPL

In [0]:
#fix column names
dfstocks=dfstocks.rename({' AAPL':'Company', ' Close/Last':'Close', ' Volume':'Volume', ' Open':'Open', ' High':'High', ' Low':'Low'}, axis=1);
for col in dfstocks.columns: 
    print(col)

Date
Close
Volume
Open
High
Low
Company

In [0]:
#drop $sign from values
dfstocks.Close=dfstocks['Close'].astype(str)
dfstocks.Close=dfstocks.Close.apply(lambda x: x.replace('$',''))
dfstocks.Open=dfstocks['Open'].astype(str)
dfstocks.Open=dfstocks.Open.apply(lambda x: x.replace('$',''))
dfstocks.High=dfstocks['High'].astype(str)
dfstocks.High=dfstocks.High.apply(lambda x: x.replace('$',''))
dfstocks.Low=dfstocks['Low'].astype(str)
dfstocks.Low=dfstocks.Low.apply(lambda x: x.replace('$',''))

In [0]:
#drop rows containing nan or header from the csv files
dfstocks=dfstocks[~dfstocks.Low.str.contains("nan")]
dfstocks=dfstocks[~dfstocks.Low.str.contains("Low")]
dfstocks.reset_index(drop=True, inplace=True)
dfstocks.Date.count()

229286

In [0]:
#sort dataframe based on date and Company Name
  dfstocks = dfstocks.sort_values(['Date', 'Company'])

In [0]:
dfstocks.head(100)

             Date     Close      Volume      Open      High        Low Company
1761   01/02/2013   78.4328   139906732   79.1171   79.2857    77.3757    AAPL
4248   01/02/2013     35.12    13767660     34.92      35.4       34.1    ABBV
6025   01/02/2013     32.05    20266410      32.3     32.45      31.64     ABT
8512   01/02/2013     69.06     4039095     67.59     69.06      67.55     ACN
10999  01/02/2013     38.34     6483720     37.92     38.73      37.92    ADBE
...           ...       ...         ...       ...       ...        ...     ...
10747  01/02/2014     59.29     2745895     59.06     59.53      58.94    ADBE
13234  01/02/2014    168.05     1268722    167.33    170.71   166.5937     AGN
15721  01/02/2014     50.71     9196092     50.81      51.3      50.47     AIG
18208  01/02/2014     53.55     1909106     54.09     54.45       53.5     ALL
20695  01/02/2014   115.795     2528751    114.36    116.19     114.06    AMGN

[100 rows x 7 columns]