<a href="https://colab.research.google.com/github/sfwtopoulos/stocks/blob/master/Stocks_seq_1st.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import pandas as pd
import math
import warnings
import numpy as np
import time

import pandas_datareader as pdr
%tensorflow_version 2.x
import keras

from keras.layers import LSTM
from keras.models import Sequential
from keras.layers.wrappers import TimeDistributed
from keras.layers.core import Dense, Activation, Dropout

from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error
import seaborn as sns
import matplotlib.pyplot as plt
#not all needed

TensorFlow 2.x selected.

Using TensorFlow backend.

In [10]:
print(keras.__version__)

2.2.5

In [0]:
#Data import from git repo
url = 'https://raw.githubusercontent.com/sfwtopoulos/stocks/master/stocks_dataset/combined.csv'
#df1 = pd.read_csv(url, error_bad_lines=False)
dfstocks = pd.read_csv(url, sep=',')

In [3]:
#fix column names
dfstocks=dfstocks.rename({' AAPL':'Company', ' Close/Last':'Close', ' Volume':'Volume', ' Open':'Open', ' High':'High', ' Low':'Low'}, axis=1);
for col in dfstocks.columns: 
    print(col)

Date
Close
Volume
Open
High
Low
Company

In [0]:
#drop $sign from values
dfstocks.Close=dfstocks['Close'].astype(str)
dfstocks.Close=dfstocks.Close.apply(lambda x: x.replace('$',''))
dfstocks.Open=dfstocks['Open'].astype(str)
dfstocks.Open=dfstocks.Open.apply(lambda x: x.replace('$',''))
dfstocks.High=dfstocks['High'].astype(str)
dfstocks.High=dfstocks.High.apply(lambda x: x.replace('$',''))
dfstocks.Low=dfstocks['Low'].astype(str)
dfstocks.Low=dfstocks.Low.apply(lambda x: x.replace('$',''))

In [5]:
#drop rows containing nan or header from the csv files
dfstocks=dfstocks[~dfstocks.Low.str.contains("nan")]
dfstocks=dfstocks[~dfstocks.Low.str.contains("Low")]
dfstocks.reset_index(drop=True, inplace=True)
dfstocks.Date.count()

229286

In [6]:
#sort dataframe based on date and Company Name
dfstocks = dfstocks.sort_values(['Date', 'Company'])
dfstocks.head(100)

             Date     Close      Volume      Open      High        Low Company
1761   01/02/2013   78.4328   139906732   79.1171   79.2857    77.3757    AAPL
4248   01/02/2013     35.12    13767660     34.92      35.4       34.1    ABBV
6025   01/02/2013     32.05    20266410      32.3     32.45      31.64     ABT
8512   01/02/2013     69.06     4039095     67.59     69.06      67.55     ACN
10999  01/02/2013     38.34     6483720     37.92     38.73      37.92    ADBE
...           ...       ...         ...       ...       ...        ...     ...
10747  01/02/2014     59.29     2745895     59.06     59.53      58.94    ADBE
13234  01/02/2014    168.05     1268722    167.33    170.71   166.5937     AGN
15721  01/02/2014     50.71     9196092     50.81      51.3      50.47     AIG
18208  01/02/2014     53.55     1909106     54.09     54.45       53.5     ALL
20695  01/02/2014   115.795     2528751    114.36    116.19     114.06    AMGN

[100 rows x 7 columns]

In [72]:
#Test Split
dfstocks_split = dfstocks.sample(frac=0.9998,random_state=200)
second_split=dfstocks.drop(dfstocks_split.index)
# second_split = second_split.reindex(index=second_split.Date(second_split.index.min(), 
#                                           second_split.index.max(), 
#                                           freq='D')).fillna(method='ffill')
second_split

              Date      Close     Volume  ...       High        Low Company
159523  01/04/2016     103.57    1929089  ...     103.65     102.34     NEE
173214  01/05/2011    94.1728    3597597  ...    94.7261    92.5616     OXY
15212   01/11/2016      57.69    9615965  ...         58      56.84     AIG
95258   01/15/2015    23.5037   31431330  ...    23.8925    23.4838      GE
219831  01/16/2018     133.97    5170230  ...     137.73     133.87     UTX
38340   01/25/2013     718.82    1570859  ...     719.37     681.05    BKNG
183867  02/05/2018     74.705   18709640  ...      78.98      74.68    PYPL
211127  02/06/2013      57.38    5266009  ...      57.54       57.1     UNH
214108  02/17/2011      48.91    6399682  ...      48.98     48.165     UNP
166448  02/20/2018     249.08   17117670  ...     251.87      244.6    NVDA
124920  02/26/2015      42.46   14344290  ...      42.55      41.97      KO
9693    03/12/2018     220.94    3172266  ...     223.11     220.34    ADBE
3690    03/23/2015      60.48    7918489  ...      61.19      59.62    ABBV
68129   04/15/2013      56.31    6086714  ...      57.53       56.3     CVS
16396   04/27/2011       31.7    5420339  ...      32.01      31.28     AIG
79605   04/30/2010    50.3405    3246329  ...    50.4605    49.5905     DUK
201876  04/30/2010      26.06   33740980  ...       26.5      26.05       T
182074  05/05/2015      82.81    2903732  ...      83.44      82.56      PM
1423    05/07/2014    84.6185   70532231  ...    85.3271    83.9614    AAPL
156949  05/09/2016      50.07   17883360  ...     50.585         50    MSFT
122367  05/31/2016      18.08   16117520  ...      18.25      17.85     KMI
101334  06/07/2016     731.09    1214733  ...     736.71      730.8   GOOGL
175836  06/24/2010       62.4    6184699  ...      62.99      62.25     PEP
105789  06/28/2018     195.21    2993911  ...     196.01     193.51      HD
174572  07/02/2015      94.66    3209616  ...      94.98      94.21     PEP
188139  07/02/2015      95.57    2163391  ...      97.23      95.51     RTN
6149    07/03/2012     32.415    3199586  ...       32.5     32.195     ABT
61364   07/08/2010     40.244    8716726  ...     40.728    39.7834     COP
11833   07/29/2019     160.97    4788688  ...     162.14     160.65     AGN
48896   08/24/2010      65.04    9620931  ...      65.84      64.31     CAT
201527  09/16/2011      28.94   34249290  ...      28.94      28.54       T
137961  09/26/2012       93.2    4391747  ...      93.35      92.88     MCD
3556    10/01/2015      55.13    9247009  ...      55.23      53.93    ABBV
110942  10/11/2017     147.62    3701258  ...     148.47     147.28     IBM
179223  10/12/2016      88.57   17093450  ...      89.01      88.33      PG
171508  10/16/2017      64.77    2667679  ...      65.12      64.54     OXY
131458  10/24/2018      96.53    5723803  ...     100.71      96.32     LOW
222866  11/10/2015      83.53    4302471  ...      84.79      83.26     WBA
18492   11/14/2012      38.34    4824861  ...      39.59      38.12     ALL
207686  11/17/2016      72.08    3763235  ...      72.28      70.63     TXN
98790   11/18/2010     18.975   15700010  ...       19.2      18.87    GILD
1285    11/20/2014     116.31   43148650  ...     116.86     114.85    AAPL
32900   12/01/2014   288.8073    1146082  ...   290.7124   286.6256    BIIB
34619   12/18/2017      54.42    3975107  ...         55      54.36      BK
151564  12/22/2017      56.36   11345730  ...      56.83      56.13     MRK
43582   12/29/2011      35.27    6422866  ...       35.3      34.95     BMY

[46 rows x 7 columns]

In [73]:
second_split.shape[0]
second_split.isnull().values.any()
second_split.isna().values.any()
second_split.reset_index(drop=True, inplace=True)
second_split

          Date      Close     Volume       Open       High        Low Company
0   01/04/2016     103.57    1929089     102.87     103.65     102.34     NEE
1   01/05/2011    94.1728    3597597    93.3963    94.7261    92.5616     OXY
2   01/11/2016      57.69    9615965      57.89         58      56.84     AIG
3   01/15/2015    23.5037   31431330    23.7828    23.8925    23.4838      GE
4   01/16/2018     133.97    5170230     137.73     137.73     133.87     UTX
5   01/25/2013     718.82    1570859        682     719.37     681.05    BKNG
6   02/05/2018     74.705   18709640      75.95      78.98      74.68    PYPL
7   02/06/2013      57.38    5266009      57.44      57.54       57.1     UNH
8   02/17/2011      48.91    6399682      48.77      48.98     48.165     UNP
9   02/20/2018     249.08   17117670     244.75     251.87      244.6    NVDA
10  02/26/2015      42.46   14344290      42.04      42.55      41.97      KO
11  03/12/2018     220.94    3172266     222.97     223.11     220.34    ADBE
12  03/23/2015      60.48    7918489      60.05      61.19      59.62    ABBV
13  04/15/2013      56.31    6086714      57.33      57.53       56.3     CVS
14  04/27/2011       31.7    5420339      32.01      32.01      31.28     AIG
15  04/30/2010    50.3405    3246329    49.6805    50.4605    49.5905     DUK
16  04/30/2010      26.06   33740980      26.21       26.5      26.05       T
17  05/05/2015      82.81    2903732      83.19      83.44      82.56      PM
18  05/07/2014    84.6185   70532231    85.0357    85.3271    83.9614    AAPL
19  05/09/2016      50.07   17883360      50.49     50.585         50    MSFT
20  05/31/2016      18.08   16117520      17.86      18.25      17.85     KMI
21  06/07/2016     731.09    1214733     733.27     736.71      730.8   GOOGL
22  06/24/2010       62.4    6184699      62.37      62.99      62.25     PEP
23  06/28/2018     195.21    2993911        195     196.01     193.51      HD
24  07/02/2015      94.66    3209616       94.6      94.98      94.21     PEP
25  07/02/2015      95.57    2163391      96.55      97.23      95.51     RTN
26  07/03/2012     32.415    3199586     32.235       32.5     32.195     ABT
27  07/08/2010     40.244    8716726    40.7202     40.728    39.7834     COP
28  07/29/2019     160.97    4788688     161.16     162.14     160.65     AGN
29  08/24/2010      65.04    9620931      65.59      65.84      64.31     CAT
30  09/16/2011      28.94   34249290      28.82      28.94      28.54       T
31  09/26/2012       93.2    4391747      92.89      93.35      92.88     MCD
32  10/01/2015      55.13    9247009      54.68      55.23      53.93    ABBV
33  10/11/2017     147.62    3701258      148.4     148.47     147.28     IBM
34  10/12/2016      88.57   17093450      88.74      89.01      88.33      PG
35  10/16/2017      64.77    2667679      65.03      65.12      64.54     OXY
36  10/24/2018      96.53    5723803      98.32     100.71      96.32     LOW
37  11/10/2015      83.53    4302471      83.83      84.79      83.26     WBA
38  11/14/2012      38.34    4824861      38.26      39.59      38.12     ALL
39  11/17/2016      72.08    3763235      71.17      72.28      70.63     TXN
40  11/18/2010     18.975   15700010      19.01       19.2      18.87    GILD
41  11/20/2014     116.31   43148650     114.91     116.86     114.85    AAPL
42  12/01/2014   288.8073    1146082   286.9253   290.7124   286.6256    BIIB
43  12/18/2017      54.42    3975107      54.67         55      54.36      BK
44  12/22/2017      56.36   11345730       56.6      56.83      56.13     MRK
45  12/29/2011      35.27    6422866      35.03       35.3      34.95     BMY

In [0]:
TRAIN_PERCENT = 0.7
#STOCK_INDEX = '^GSPC'
VERBOSE=True

In [0]:
# prepare training and testing data sets for LSTM based sequence modeling
#def get_seq_train_test(time_series, scaling=True,train_size=0.9):
def get_seq_train_test(time_series,train_size=0.9):
    # scaler = None
    # if scaling:
    #     scaler = MinMaxScaler(feature_range=(0, 1))
    #     time_series = np.array(time_series).reshape(-1,1)
    #     scaled_stock_series = scaler.fit_transform(time_series)
    # else:
    #     scaled_stock_series = time_series
    scaled_stock_series = time_series
        
    #train_size = int(len(scaled_stock_series) * train_size)
    train_size = int(len(time_series) * train_size)

    #train = scaled_stock_series[0:train_size]
    train = time_series[0:train_size]
    #test = scaled_stock_series[train_size:len(scaled_stock_series)]
    test = time_series[train_size:len(time_series)]
    
    return train,test

In [74]:
# split train and test datasets
train,test = get_seq_train_test(second_split.Close,
#                                  scaling=True,
                                   train_size=TRAIN_PERCENT)

#train
print(len(train))
print(len(train.index))
print(train.shape[0])
print(test.shape[0])

32
32
32
14

In [75]:
train = np.reshape(train,(1,train.shape[0],1))
test = np.reshape(test,(1,test.shape[0],1))

train_x = train[:,:-1,:]
train_y = train[:,1:,:]

test_x = test[:,:-1,:]
test_y = test[:,1:,:]

print("Data Split Complete")

print("train_x shape={}".format(train_x.shape))
print("train_y shape={}".format(train_y.shape))
print("test_x shape={}".format(test_x.shape))
print("test_y shape={}".format(test_y.shape))

ValueError: ignored